@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    margin: 0;
    padding: 0;
}
#footer{
    box-shadow: 0px 2px 50px 5px rgb(196, 196, 196);
}
#headtext{
    font-family: Robbot;
}

#slidewrap{
    transition: .5s;
}
#swiper-pop .swiper-slide{
    overflow: hidden;
    border-radius: 25px;
}
.footer-btn{
    -webkit-tap-highlight-color: transparent;
}

.animate__animated.animate__fadeIn{
    --animate-duration: .5s
}
button{
    -webkit-tap-highlight-color: transparent;
}

#cart-title{
    height: 25rem;
}
.active svg{
    fill: black;
}
.active p{
    display: block;
}
.activetab{
    background-color: black;
}